media/Cine/*
media/Musica/*
media/Series/*
media/Unclassified/loading/*
media/Unclassified/finished/*
media/IPTV/*
!media/Cine/.gitkeep
!media/Musica/.gitkeep
!media/Series/.gitkeep
!media/Unclassified/loading/.gitkeep
!media/Unclassified/finished/.gitkeep
!media/IPTV/.gitkeep
containers/flood/config/*
!containers/flood/config/config.js
containers/jellyfin/config/*
containers/jellyfin/config/.gitkeep
containers/rtorrent/config/.bash_history
containers/rtorrent/config/rtorrent/log
containers/rtorrent/config/rtorrent/session/*
containers/rtorrent/config/rtorrent/dht_session/*
containers/rtorrent/config/rtorrent/watch/*
containers/rtorrent/config/rtorrent/download/*
containers/rtorrent/config/rtorrent/done/*
containers/rtorrent/config/.local
containers/rtorrent/config/.npm

!containers/rtorrent/config/rtorrent/session/.gitkeep
!containers/rtorrent/config/rtorrent/dht_session/.gitkeep
!containers/rtorrent/config/rtorrent/watch/.gitkeep
!containers/rtorrent/config/rtorrent/download/.gitkeep
!containers/rtorrent/config/rtorrent/done/.gitkeep

containers/rtorrent/torrents/*
!containers/rtorrent/torrents/.gitkeep


*/**/.swp
*.swp
.plex-user-token


